*{
    margin: o;
    padding: o;
}

.navbar.abc p{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
}
.navbar{
    display: flex;
    justify-content:space-around;
    position: fixed;
    top: 20px;
    margin-left: 70px;
    background-color: rgb(255, 255, 255);
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content:space-between;
    font-family: Arial, Helvetica, sans-serif;
    gap: 60px;
    font-size: 18px;
    color: rgb(49, 51, 53);
 
}
.abc{
    margin-left: -60px;
}
.abc .groww{
    color: black;
    font-size: 25px;
    margin-top: -5px;
}
.navbar ul li:hover{
  color: black;
}
.navbar .navbar2{
    display: flex;
    margin-left: 100px;
    gap: 10px;
}
.navbar2 .input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    border: 2px solid rgb(173, 162, 162);
}
.input::placeholder{
    padding-left: 20px;
}

.navbar2 button{
    margin-top: 10px;
    width: 150px;
    height: 45px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    background-color: rgb(104, 182, 104);
    color: aliceblue;
    
}
.abc .link{
    text-decoration: none;
}








.sip h1{
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    color: rgb(53, 52, 52);
}

.containar{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}
.containar .mb-4{
    display: flex;
    justify-content: space-between;
}


.containar-left{
    border: 2px solid rgb(150, 140, 140);
    width: 700px;
    height: 500px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 50px;
    
}
.containar-right{
    width: 420px;
    height: 350px;
    border: 2px solid blanchedalmond;
    text-align: center;
    padding-top: 100px;
    margin-left: 150px;
}
.containar-left .mb-4{
    margin: 40px;
    
}
.containar-left .mt-6{
    margin: 50px;
}
.containar-left .mt-2{
    margin: 30px;
}

.containar-right{
    border: 2px solid rgb(150, 140, 140);

}
.containar-right img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 130px;
}
.containar-right button{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    font-size: 22px;
}
.containar-right h2{
    font-family: Arial, Helvetica, sans-serif;
}
.containar-right p{
    font-family: Arial, Helvetica, sans-serif;

}



.uniform{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 10px;
    margin-left: 50px;
}
.sidebar1 .heading{
    font-size: 13px;
}
.sidebar1 ul{
list-style: none;
margin: 10px;
}
.sidebar1 ul li{
    margin: 10px;
}
.sidebar1{
    border: 2px solid rgb(87, 82, 82);
    width: 470px;
    height: 500px;
}